/* Add a semicolon to the end of the font import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pixelify+Sans&display=swap");

.btm {
    position: absolute;
    bottom: 60px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.btmBox {
    width: 230px;
    height: 50px;
    background-color: #1b1a1a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s ease-in-out;
}

/* Use the nth-child selector to apply staggered animation */
.btmBox:nth-child(1) {
    transition-delay: 0.1s;
}

.btmBox:nth-child(2) {
    transition-delay: 0.2s;
}

.btmBox:nth-child(3) {
    transition-delay: 0.3s;
}

.text {
    font-size: 18px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 350;
}

.btmBox.animate {
    opacity: 1;
    transform: translateX(0);
}

.text {
    margin: 0;
}
