@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pixelify+Sans&display=swap"); /* Add a semicolon here */

* {
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.btm {
    position: absolute;
    bottom: 60px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.btmBox {
    width: 230px;
    height: 50px;
    background-color: #1b1a1a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
}

.text {
    font-size: 18px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 350;
}
